<div class='row'>
	<div class='col-md-12'>
		<h3>Latest Posts
	</div>
</div>
<div class='row'>
	<div class='col-md-12'>
		<button class='btn primary-btn latestPosts'>Get Latests</button>
	</div>
</div>
	<div class='row'>
		<div class='col-md-12'>
			<ul id="list">
				<% @posts.each.with_index(1) do |post, i| %>
					<li><%="#{i}. "%><%= post.content %></li>
					<hr/>
				<%end%>
			</ul>
		</div>
	</div>
